<div id="header">
    <h1 id="title">welcome to ur gallery</h1>
    <a id="create" href="/gallery/new">Create New Photo</a>
    <br>
    <br>
    <a id="back" href="/">GO BACK BITCH</a>
</div>

<div id="gallery">
    {{#each gallery}}
    <h1>
        <a id="author" href="/gallery/{{gallery_id}}">{{author}}</a>
    </h1>
    <h2>
        <a id="author" href="/gallery/{{gallery_id}}">
            <img id="image" src="{{link}}">
        </a>
    </h2>
    {{!--
    <h3 id="description">{{description}}</h3> --}} {{/each}}
</div>